body {
  margin: 0px;
  text-align: center;
}
.top-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(15, 129, 129);
}

.cloud {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin-left: 70%;
}
.mountain {
  width: 200px;
  padding-top: 100px;
}
.top-introduction > h1 {
  margin-bottom: 0px;
}

.introduction {
  background-color: rgb(21, 98, 98);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.introduction > img {
  margin-top: 50px;
  height: 100px;
  width: 100px;
}

.introduction > h1 {
  margin-bottom: 0px;
}
.introduction > p {
  margin-top: 0px;
}
.introduction > div {
  padding-bottom: 40px;
}
.skills-section {
  background-color: rgb(27, 72, 72);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.skills-section > div {
  height: 170px;
  width: 600px;
  border-radius: 25px;
  margin-left: 25%;
  background-color: rgb(21, 45, 45);
}
.skills-section > div > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.skills-section > div {
  margin-top: 50px;
}
.skills-section > h1 {
  margin-top: 0px;
  padding-top: 40px;
}

.skill-content > p {
  padding: 0px 7px 7px 7px;
  pa
}
.skill1 > img {
  float: left;

  padding: 10px;
}
.skills-section > div > img {
  padding: 8px;
  margin-top: 5%;
}
.skill2 > img {
  float: right;
}
.skill3 > img {
  float: left;
}
.skill4 > img {
  float: right;
}
.skill-content {
  padding: 5px;
}
.skill-content > h2 {
  margin-bottom: 0px;
}

.contact-me {
  padding-top: 30px;
  background-color: rgba(28, 28, 138, 0.948);
}
.contact-me > div > a > img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 10px;
}
.contact-me > h2 {
  margin-top: 0px;
}
